# Inspired by https://gitlab.com/gitlab-org/gitlab-foss/-/blob/master/lib/gitlab/ci/templates/Python.gitlab-ci.yml

image: python:3.11.5

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

cache:
  paths:
    - .cache/pip

before_script:  # Enabling virtual environment is recommended
  - python --version ; pip --version  # For debugging
  - pip install virtualenv
  - virtualenv venv
  - source venv/bin/activate
# Also possible: use extends. If venv not needed for every script, for example


stages:
  - install
  - test
  - docs
  - deploy


# Test installation of repo
installation:
  stage: install
  script:
    - pip install '.[dev, jupyter]'
    - python -m setuptools_scm  # Print package version for debugging
  artifacts:
    paths:
      - build/*
  rules:
    - if: $CI_COMMIT_TAG
      when: never  # So that it is not executed when tags are pushed (they only point to commits, avoid duplicate tests)
    - if: $CI_COMMIT_BRANCH
      # when: manual  # Also possible for certain tests


# Verify code is running correctly
testing:
  stage: test
  # dependencies:
  #   - installation
  needs:
    - job: installation
      artifacts: true
  script:
    - pip install .[dev]
    - python -m setuptools_scm  # Print package version for debugging
    - coverage run -m pytest  # --pyargs gw_signal_tools  # In case location is changed in the future
    - coverage report
    - coverage html
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'  # From https://gitlab.aei.uni-hannover.de/help/ci/testing/code_coverage.md#view-code-coverage-results-in-the-mr
  artifacts:
    paths:
      - htmlcov/*
