# -- Inspired by https://gitlab.com/gitlab-org/gitlab-foss/-/blob/master/lib/gitlab/ci/templates/Python.gitlab-ci.yml
image: python:3.11.5  # TODO: maybe pull some igwn container? Should have all required things installed, for example gsl
# TODO: update to more recent python

# -- General CI setups
variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

cache:
  paths:
    - $PIP_CACHE_DIR

before_script:  # Enabling virtual environment is recommended
  - apt-get update && apt-get install -y libgsl-dev  # For pyseobnr, surrogate model
  - python --version ; pip --version  # For debugging
  - python -m venv env
  - source env/bin/activate
  - python -m pip install --upgrade pip
# Also possible: use extends. If venv not needed for every script, for example


stages:
  - install
  - test
  - docs
  - deploy


# -- Test installation of repo
installation:
  stage: install
  script:
    - pip install --find-links=${PIP_CACHE_DIR} '.[dev,docs,jupyter,lal,pyseobnr]'
    - python -m pip list installed  # Print all packages for debugging
    - python -m setuptools_scm  # Print package version for debugging
  artifacts:
    paths:
      - build/*
      # -- Unfortunately, the virtual environment is too large to be kept as an
      # -- artifact. Thus we cannot simply activate it again in testing job.
  rules:
    - if: $CI_COMMIT_TAG
      when: never  # So that it is not executed when tags are pushed (they only point to commits, avoid duplicate tests)
    - if: $CI_COMMIT_BRANCH
      # when: manual  # Also possible for certain tests


# -- Verify code is running correctly
testing:
  stage: test
  dependencies:
    - installation
  # -- Unfortunately, extends does not actually extend the script, so not really useful for us
  script:
    - pip install --find-links=${PIP_CACHE_DIR} .[dev,lal]  # Think it would also find cache without --find-links, but we make sure of that
    - python -m pip list installed  # Print all packages for debugging
    - python -m setuptools_scm  # Print package version for debugging
    # -- Previous lines just repeat what installation does, now testing
    - coverage run -m pytest  # --pyargs gw_signal_tools  # In case location is changed in the future
    - coverage report
    - coverage html
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'  # From https://gitlab.aei.uni-hannover.de/help/ci/testing/code_coverage.md#view-code-coverage-results-in-the-mr
  rules:
    - if: $CI_COMMIT_TAG
      when: never  # So that it is not executed when tags are pushed (they only point to commits, avoid duplicate tests)
    - if: $CI_COMMIT_BRANCH
      # when: manual  # Also possible for certain tests
    - changes:
      - gw_signal_tools/**  # Only run if code changes
      - tests/**
      - pyproject.toml  # Because test config might be changed
  artifacts:
    paths:
      - htmlcov/*  # Maybe move them to public folder? So that they can be viewed
      # - public
