image: python:3.11.5

stages:
  - install
  - test
  - docs
  - deploy


# Test installation of repo
installation:
  stage: install
  script:
    - python -m pip install '.[dev, jupyter]'
    # - pip install '.[dev, jupyter, pyseobnr]'


# Verify code is running correctly
testing:
  stage: test
  dependencies:
    - installation
  script:
    - python -m pip install .[dev]
    - pytest --pyargs tests
    # - pytest --pyargs gw_signal_tools  # In case location is changed in the future